# WL Command Center config
APP_SECRET_SALT=
APP_SIGNER=   # Base64 String

# Solana config
SOLANA_API_URL=api.devnet.solana.com
# Faucet
FAUCET_PROGRAM_ID=
# PDAs
PDA_CONFIG=
PDA_VAULT=

# Integrations
# Discord
APPLICATION_ID=
WAYLEARN_BOT_TOKEN=